/*图标颜色代码#198d19*/
.icon-yewu{background:url(../images/yewu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zukeyixiangrenguanli{background:url(../images/zukeyixiangrenguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yizuguanli{background:url(../images/yizuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-weizuguanli{background:url(../images/weizuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-panyuanguanli{background:url(../images/panyuanguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-tuifangguanli{background:url(../images/tuifangguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-waichudengji{background:url(../images/waichudengji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-hetongguanli{background:url(../images/hetongguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shiwushenpi{background:url(../images/shiwushenpi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-changeRenter{background:url(../images/changeRenter.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-people{background:url(../images/people.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-renkouguanli{background:url(../images/renkouguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangdongguanli{background:url(../images/fangdongguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zukeguanli{background:url(../images/zukeguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zhuhuguanli{background:url(../images/zhuhuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yixiangrenguanli{background:url(../images/yixiangrenguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zukeyingshoukuan{background:url(../images/zukeyingshoukuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-caiwu{background:url(../images/caiwu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shouzhiluru{background:url(../images/shouzhiluru.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xunifangshouzhiluru{background:url(../images/xunifangshouzhiluru.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangdongyingfukuan{background:url(../images/fangdongyingfukuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yinhangzhanghuguanli{background:url(../images/yinhangzhanghuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shouzhizhanghuguanli{background:url(../images/shouzhizhanghuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-heyueguanli{background:url(../images/heyueguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangdongheyue{background:url(../images/fangdongheyue.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zukeheyue{background:url(../images/zukeheyue.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fenqizhangdanguanli{background:url(../images/fenqizhangdanguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangdongfenqizhangdan{background:url(../images/fangdongfenqizhangdan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zukefenqizhangdan{background:url(../images/zukefenqizhangdan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yizufangyuedu{background:url(../images/yizufangyuedu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-gongzi{background:url(../images/gongzi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-gongziguanli{background:url(../images/gongziguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shengchenggongzibiao{background:url(../images/shengchenggongzibiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yejifenchengguanli{background:url(../images/yejifenchengguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-zichan{background:url(../images/zichan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-guanlizichan{background:url(../images/guanlizichan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-cangchuchaxun{background:url(../images/cangchuchaxun.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-gongyingshangguanli{background:url(../images/gongyingshangguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-xunifang{background:url(../images/xunifang.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xunifangguanli{background:url(../images/xunifangguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xunifangshouzhijilu{background:url(../images/xunifangshouzhijilu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-xingzhen{background:url(../images/xingzhen.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zonghexiugai{background:url(../images/zonghexiugai.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kefuguanli{background:url(../images/kefuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-weixiuguanli{background:url(../images/weixiuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-tongzhigonggao{background:url(../images/tongzhigonggao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-waichudengji{background:url(../images/waichudengji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shenqingshenpi{background:url(../images/shenqingshenpi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-chaobiaoguanli{background:url(../images/chaobiaoguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xunifangshiwu{background:url(../images/xunifangshiwu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-heyuebianhaoguanli{background:url(../images/heyuebianhaoguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-renshi{background:url(../images/renshi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yuangongyonghuguanli{background:url(../images/yuangongyonghuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-gongziguanli{background:url(../images/gongziguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kaoqinguanli{background:url(../images/kaoqinguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yuangongquanxianguanli{background:url(../images/yuangongquanxianguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}


.icon-yejifenchengguanli{background:url(../images/yejifenchengguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-xitong{background:url(../images/xitong.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangwuzidian{background:url(../images/fangwuzidian.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-jifeifangan{background:url(../images/jifeifangan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xunifangshezhi{background:url(../images/xunifangshezhi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-duanxinguanli{background:url(../images/duanxinguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
 
.icon-fuwu{background:url(../images/fuwu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-pay58{background:url(../images/pay58.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-click58{background:url(../images/click58.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-mogoHouse{background:url(../images/mogoHouse.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-file{background:url(../images/wenjian.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
 
.icon-caiwubaobiao{background:url(../images/caiwubaobiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-conventional-accounting{background:url(../images/conventional-accounting.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-lirunkongjian{background:url(../images/lirunkongjian.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangyuanjiage{background:url(../images/fangyuanjiage.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-mianzushouyiyuce{background:url(../images/mianzushouyiyuce.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-chengbenhesuan{background:url(../images/chengbenhesuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kehulaiyuan{background:url(../images/kehulaiyuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yuangongkaohe{background:url(../images/yuangongkaohe.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-jingtaigangganyuce{background:url(../images/jingtaigangganyuce.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shapanyansuan{background:url(../images/shapanyansuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kongzhichengben{background:url(../images/kongzhichengben.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-laobandarili{background:url(../images/laobandarili.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-lishipiaojudayin{background:url(../images/lishipiaojudayin.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-gongzuotai{background:url(../images/gongzuotai.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-xiangmuguanli{background:url(../images/xiangmuguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xiangmushiwu{background:url(../images/xiangmushiwu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zichanguanli{background:url(../images/zichanguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-haocaiguanli{background:url(../images/haocaiguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-58shujutongji{background:url(../images/58shujutongji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-moguzufangtongji{background:url(../images/moguzufangtongji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-wenjianguiguanli{background:url(../images/wenjianguiguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-changguikuaijibiao{background:url(../images/changguikuaijibiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-lirunkongjianbiao{background:url(../images/lirunkongjianbiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-bianliangshezhi{background:url(../images/bianliangshezhi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-chengbenhesuanbiao{background:url(../images/chengbenhesuanbiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-dongtaigangganyuce{background:url(../images/dongtaigangganyuce.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangyuanzujintongji{background:url(../images/fangyuanzujintongji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kehulaiyuantongji{background:url(../images/kehulaiyuantongji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kongzhichengbentongji{background:url(../images/kongzhichengbentongji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-mianzuqishouyiyuce{background:url(../images/mianzuqishouyiyuce.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yuangongkaohebiao{background:url(../images/yuangongkaohebiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zuketuifangcaoyuce{background:url(../images/zuketuifangcaoyuce.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-nengyuankahaoguanli{background:url(../images/nengyuankahaoguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shiyonghaocai{background:url(../images/shiyonghaocai.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-qianru{background:url(../images/qianru.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-qianchu{background:url(../images/qianchu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zengjianhaocaishuliang{background:url(../images/zengjianhaocaishuliang.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xiazai{background:url(../images/xiazai.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangyuancaiwushengtaitongji{background:url(../images/fangyuancaiwushengtaitongji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-caiwukuaizhao{background:url(../images/caiwukuaizhao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-gongsichengbentongji{background:url(../images/gongsichengbentongji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-gongnengditu2{background:url(../images/gongnengditu2.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-baocun{background:url(../images/baocun.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-chaxun{background:url(../images/chaxun.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-quxiao{background:url(../images/quxiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-qiehuan{background:url(../images/qiehuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shuaxin{background:url(../images/shuaxin.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-58logo{background:url(../images/58logo.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-gerenshezhi{background:url(../images/gerenshezhi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-p_lishibaobiao{background:url(../images/p_lishibaobiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-attendanceSting{background:url(../images/attendanceSting.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-dingwei{background:url(../images/dingwei.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fabu{background:url(../images/fabu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shangjia{background:url(../images/shangjia.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-bianji{background:url(../images/bianji.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-beike{background:url(../images/beike.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-upload{background:url(../images/upload.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-dayin{background:url(../images/dayin.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-bangding{background:url(../images/bangding.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-jingdong{background:url(../images/jingdong.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-zhenshifangyuan{background:url(../images/zhenshifangyuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-huangguan{background:url(../images/huangguan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-xiaoshou{background:url(../images/xiaoshou.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-cangku{background:url(../images/cangku.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-lishidingdan{background:url(../images/lishidingdan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-liushuibiao{background:url(../images/liushuibiao.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-wxgzh{background:url(../images/wxgzh.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-jingpin{background:url(../images/jingpin.png) no-repeat;width:16px; line-height:16px; display:inline-block;}


.icon-caigoujilu{background:url(../images/caigoujilu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-pandianjilu{background:url(../images/pandianjilu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shangchushangping{background:url(../images/shangchushangping.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shangpingpandian{background:url(../images/shangpingpandian.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shangpingpinlei{background:url(../images/shangpingpinlei.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shangpingshangjia{background:url(../images/shangpingshangjia.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shangpingxiajia{background:url(../images/shangpingxiajia.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-tianjiashangping{background:url(../images/tianjiashangping.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-caigouruku{background:url(../images/caigouruku.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xianchanxiaoshou{background:url(../images/xianchanxiaoshou.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-xiaoshoujilu{background:url(../images/xiaoshoujilu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-chuhuojilu{background:url(../images/chuhuojilu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shangdianshezhi{background:url(../images/shangdianshezhi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yingchang{background:url(../images/yingchang.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-tuikuan{background:url(../images/tuikuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-yingyefangtai{background:url(../images/yingyefangtai.png) no-repeat;width:18px; line-height:16px; display:inline-block;}

.icon-huanyuan{background:url(../images/huanyuan.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shebeiguanli{background:url(../images/shebeiguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-huanFang{background:url(../images/huanFang.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-dingdanchaxun{background:url(../images/dingdanchaxun.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kezhangchaxun{background:url(../images/kezhangchaxun.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-kerenguanli{background:url(../images/kerenguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-fangjianguanli{background:url(../images/fangjianguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-jiaobanjiaojie{background:url(../images/jiaobanjiaojie.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-jiudianshezhi{background:url(../images/jiudianshezhi.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-qudaoguanli{background:url(../images/qudaoguanli.png) no-repeat;width:16px; line-height:16px; display:inline-block;}

.icon-ruzhubanli1{background:url(../images/ruzhubanli1.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-tuifangbanli1{background:url(../images/tuifangbanli1.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-baoliushezhi1{background:url(../images/baoliushezhi1.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-shezhibaojie{background:url(../images/shezhibaojie.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-tianjiaweixiu{background:url(../images/tianjiaweixiu.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-menkaguanli1{background:url(../images/menkaguanli1.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-huanfangbanli1{background:url(../images/huanfangbanli1.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-add1{background:url(../images/add.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-remove1{background:url(../images/remove.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-deviceManagement{background:url(../images/deviceManagement.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-hotel{background:url(../images/hotel.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-care{background:url(../images/care.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-addCare{background:url(../images/addCare.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-export{background:url(../images/export.png) no-repeat;width:16px; line-height:16px; display:inline-block;}
.icon-temp{background:url(../images/temp.png) no-repeat;width:16px; line-height:16px; display:inline-block;}


