<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.mapper.journal.JourAntPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.zz.po.journal.JourAntPassword" >
    <id column="jap_id" property="japId" jdbcType="INTEGER" />
    <result column="jap_hs_id" property="japHsId" jdbcType="INTEGER" />
    <result column="jap_pop_id" property="japPopId" jdbcType="INTEGER" />
    <result column="jap_user_id" property="japUserId" jdbcType="INTEGER" />
    <result column="jap_ant_device_id" property="japAntDeviceId" jdbcType="VARCHAR" />
    <result column="jap_password_id" property="japPasswordId" jdbcType="VARCHAR" />
    <result column="jap_operation_flow_id" property="japOperationFlowId" jdbcType="VARCHAR" />
    <result column="jap_operation_status" property="japOperationStatus" jdbcType="VARCHAR" />
    <result column="jap_password_status" property="japPasswordStatus" jdbcType="VARCHAR" />
    <result column="jap_password_type" property="japPasswordType" jdbcType="VARCHAR" />
    <result column="jap_start_time" property="japStartTime" jdbcType="TIMESTAMP" />
    <result column="jap_end_time" property="japEndTime" jdbcType="TIMESTAMP" />
    <result column="jap_registration_time" property="japRegistrationTime" jdbcType="TIMESTAMP" />

    <result column="total_num" property="totalNum" jdbcType="VARCHAR" />
    <result column="pop_name" property="popName" jdbcType="VARCHAR" />
    <result column="pop_telephone" property="popTelephone" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from jour_ant_password
    where jap_id = #{japId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jour_ant_password
    where jap_id = #{japId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.zz.po.journal.JourAntPassword" >
    insert into jour_ant_password
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="japId != null" >
        jap_id,
      </if>
      <if test="japHsId != null" >
        jap_hs_id,
      </if>
      <if test="japPopId != null" >
        jap_pop_id,
      </if>
      <if test="japUserId != null" >
        jap_user_id,
      </if>
      <if test="japAntDeviceId != null" >
        jap_ant_device_id,
      </if>
      <if test="japPasswordId != null" >
        jap_password_id,
      </if>
      <if test="japOperationFlowId != null" >
        jap_operation_flow_id,
      </if>
      <if test="japOperationStatus != null" >
        jap_operation_status,
      </if>
      <if test="japPasswordStatus != null" >
        jap_password_status,
      </if>
      <if test="japPasswordType != null" >
        jap_password_type,
      </if>
      <if test="japStartTime != null" >
        jap_start_time,
      </if>
      <if test="japEndTime != null" >
        jap_end_time,
      </if>
      <if test="japRegistrationTime != null" >
        jap_registration_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="japId != null" >
        #{japId,jdbcType=INTEGER},
      </if>
      <if test="japHsId != null" >
        #{japHsId,jdbcType=INTEGER},
      </if>
      <if test="japPopId != null" >
        #{japPopId,jdbcType=INTEGER},
      </if>
      <if test="japUserId != null" >
        #{japUserId,jdbcType=INTEGER},
      </if>
      <if test="japAntDeviceId != null" >
        #{japAntDeviceId,jdbcType=VARCHAR},
      </if>
      <if test="japPasswordId != null" >
        #{japPasswordId,jdbcType=VARCHAR},
      </if>
      <if test="japOperationFlowId != null" >
        #{japOperationFlowId,jdbcType=VARCHAR},
      </if>
      <if test="japOperationStatus != null" >
        #{japOperationStatus,jdbcType=VARCHAR},
      </if>
      <if test="japPasswordStatus != null" >
        #{japPasswordStatus,jdbcType=VARCHAR},
      </if>
      <if test="japPasswordType != null" >
        #{japPasswordType,jdbcType=VARCHAR},
      </if>
      <if test="japStartTime != null" >
        #{japStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="japEndTime != null" >
        #{japEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="japRegistrationTime != null" >
        #{japRegistrationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz.po.journal.JourAntPassword" >
    update jour_ant_password
    <set >
      <if test="japHsId != null" >
        jap_hs_id = #{japHsId,jdbcType=INTEGER},
      </if>
      <if test="japPopId != null" >
        jap_pop_id = #{japPopId,jdbcType=INTEGER},
      </if>
      <if test="japUserId != null" >
        jap_user_id = #{japUserId,jdbcType=INTEGER},
      </if>
      <if test="japAntDeviceId != null" >
        jap_ant_device_id = #{japAntDeviceId,jdbcType=VARCHAR},
      </if>
      <if test="japPasswordId != null" >
        jap_password_id = #{japPasswordId,jdbcType=VARCHAR},
      </if>
      <if test="japOperationFlowId != null" >
        jap_operation_flow_id = #{japOperationFlowId,jdbcType=VARCHAR},
      </if>
      <if test="japOperationStatus != null" >
        jap_operation_status = #{japOperationStatus,jdbcType=VARCHAR},
      </if>
      <if test="japPasswordStatus != null" >
        jap_password_status = #{japPasswordStatus,jdbcType=VARCHAR},
      </if>
      <if test="japPasswordType != null" >
        jap_password_type = #{japPasswordType,jdbcType=VARCHAR},
      </if>
      <if test="japStartTime != null" >
        jap_start_time = #{japStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="japEndTime != null" >
        jap_end_time = #{japEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="japRegistrationTime != null" >
        jap_registration_time = #{japRegistrationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where jap_id = #{japId,jdbcType=INTEGER}
  </update>

  <select id="selectPassword" resultMap="BaseResultMap" parameterType="com.zz.po.journal.JourAntPassword">
    select a.*,count(*) total_num from (
    select jap.*,ipt.pop_name,ipt.pop_telephone from jour_ant_password jap
    left outer join info_pop_tmp ipt on ipt.pop_id = jap.jap_pop_id
    <where>
      <if test="japAntDeviceId != null">
        and jap_ant_device_id = #{japAntDeviceId}
      </if>
    </where>
    )a
  </select>
</mapper>