<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.mapper.push.Push58RoomMapper" >
  <resultMap id="MyBaseResultMap" type="com.zz.po.push.Push58Room" >
    <id column="p5r_id" property="p5rId" jdbcType="INTEGER" />
    <result column="p5r_p5u_id" property="p5rP5uId" jdbcType="INTEGER" />
    <result column="p5r_apartment_id" property="p5rApartmentId" jdbcType="VARCHAR" />
    <result column="p5r_layout_id" property="p5rLayoutId" jdbcType="VARCHAR" />
    <result column="p5r_room_id" property="p5rRoomId" jdbcType="VARCHAR" />
    <result column="p5r_gmt_create" property="p5rGmtCreate" jdbcType="TIMESTAMP" />
    <result column="p5r_gmt_modified" property="p5rGmtModified" jdbcType="TIMESTAMP" />
    <result column="p5r_detail" property="p5rDetail" jdbcType="LONGVARCHAR" />
    <result column="totalNum" property="totalNum" jdbcType="VARCHAR" />
    <result column="hs_add_province" property="hsAddProvince" jdbcType="VARCHAR" />
    <result column="hs_add_city" property="hsAddCity" jdbcType="VARCHAR" />
    <result column="hs_add_district" property="hsAddDistrict" jdbcType="VARCHAR" />
    <result column="hs_add_zone" property="hsAddZone" jdbcType="VARCHAR" />
    <result column="hs_add_street" property="hsAddStreet" jdbcType="VARCHAR" />
    <result column="hs_add_community" property="hsAddCommunity" jdbcType="VARCHAR" />
    <result column="hs_add_building" property="hsAddBuilding" jdbcType="VARCHAR" />
    <result column="hs_add_doorplateno" property="hsAddDoorplateno" jdbcType="VARCHAR" />
  </resultMap>
  <select id="query58Room" resultMap="MyBaseResultMap" parameterType="com.zz.po.push.Push58Room" >
    select aa.*, bb.totalNum 
    from (select * from push_58_room p5r
    left outer join push_58_unit p5u on p5u.p5u_id = p5r.p5r_p5u_id
    left outer join info_house_4store hs on hs.hs_id = p5u.p5u_hs_id
    <where>
    	<if test="p5rApartmentId != null and p5rApartmentId != ''" >
			and p5r_apartment_id = #{p5rApartmentId}
		</if>
    	<if test="p5rLayoutId != null and p5rLayoutId != ''" >
			and p5r_layout_id = #{p5rLayoutId}
		</if>
		<if test="hsAddCity != null and hsAddCity != ''" >
			and hs_add_city = #{hsAddCity,jdbcType=VARCHAR}</if>
		<if test="hsAddDistrict != null and hsAddDistrict != ''" >
			and hs_add_district = #{hsAddDistrict,jdbcType=VARCHAR}</if>
		<if test="hsAddZone != null and hsAddZone != ''" >
			and hs_add_zone = #{hsAddZone,jdbcType=VARCHAR}</if>
		<if test="hsAddStreet != null and hsAddStreet != ''" >
			and hs_add_street like '%${hsAddStreet}%'</if>
		<if test="hsAddCommunity != null and hsAddCommunity != ''" >
			and hs_add_community like '%${hsAddCommunity}%'</if>
		<if test="hsAddBuilding != null and hsAddBuilding != ''" >
			and (hs_add_building like '${hsAddBuilding}%' or hs_add_building like '0${hsAddBuilding}%')</if>
		<if test="hsAddDoorplateno != null and hsAddDoorplateno != ''" >
			and (hs_add_doorplateno like '${hsAddDoorplateno}%' or hs_add_doorplateno like '0${hsAddDoorplateno}%'
					or hs_split_identifier like '${hsAddDoorplateno}%' or hs_split_identifier like '0${hsAddDoorplateno}%')</if>
    </where>
    ) aa, 
    (select count(p5r_id) totalNum from push_58_room p5r
    left outer join push_58_unit p5u on p5u.p5u_id = p5r.p5r_p5u_id
    left outer join info_house_4store hs on hs.hs_id = p5u.p5u_hs_id
    <where>
    	<if test="p5rApartmentId != null and p5rApartmentId != ''" >
			and p5r_apartment_id = #{p5rApartmentId}
		</if>
    	<if test="p5rLayoutId != null and p5rLayoutId != ''" >
			and p5r_layout_id = #{p5rLayoutId}
		</if>
		<if test="hsAddCity != null and hsAddCity != ''" >
			and hs_add_city = #{hsAddCity,jdbcType=VARCHAR}</if>
		<if test="hsAddDistrict != null and hsAddDistrict != ''" >
			and hs_add_district = #{hsAddDistrict,jdbcType=VARCHAR}</if>
		<if test="hsAddZone != null and hsAddZone != ''" >
			and hs_add_zone = #{hsAddZone,jdbcType=VARCHAR}</if>
		<if test="hsAddStreet != null and hsAddStreet != ''" >
			and hs_add_street like '%${hsAddStreet}%'</if>
		<if test="hsAddCommunity != null and hsAddCommunity != ''" >
			and hs_add_community like '%${hsAddCommunity}%'</if>
		<if test="hsAddBuilding != null and hsAddBuilding != ''" >
			and (hs_add_building like '${hsAddBuilding}%' or hs_add_building like '0${hsAddBuilding}%')</if>
		<if test="hsAddDoorplateno != null and hsAddDoorplateno != ''" >
			and (hs_add_doorplateno like '${hsAddDoorplateno}%' or hs_add_doorplateno like '0${hsAddDoorplateno}%'
					or hs_split_identifier like '${hsAddDoorplateno}%' or hs_split_identifier like '0${hsAddDoorplateno}%')</if>
    </where>
    ) bb
    ORDER BY p5r_id DESC 
	<if test="startNum != '' and startNum != null">
		limit ${startNum}
		<if test="endNum != '' and endNum != null">
			,${endNum}
		</if>
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="MyBaseResultMap" parameterType="java.lang.Integer" >
    select *
    from push_58_room
    where p5r_id = #{p5rId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.zz.po.push.Push58Room" >
    insert into push_58_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="p5rId != null" >
        p5r_id,
      </if>
      <if test="p5rP5uId != null" >
        p5r_p5u_id,
      </if>
      <if test="p5rApartmentId != null" >
        p5r_apartment_id,
      </if>
      <if test="p5rLayoutId != null" >
        p5r_layout_id,
      </if>
      <if test="p5rRoomId != null" >
        p5r_room_id,
      </if>
      <if test="p5rGmtCreate != null" >
        p5r_gmt_create,
      </if>
      <if test="p5rGmtModified != null" >
        p5r_gmt_modified,
      </if>
      <if test="p5rDetail != null" >
        p5r_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="p5rId != null" >
        #{p5rId,jdbcType=INTEGER},
      </if>
      <if test="p5rP5uId != null" >
        #{p5rP5uId,jdbcType=INTEGER},
      </if>
      <if test="p5rApartmentId != null" >
        #{p5rApartmentId,jdbcType=VARCHAR},
      </if>
      <if test="p5rLayoutId != null" >
        #{p5rLayoutId,jdbcType=VARCHAR},
      </if>
      <if test="p5rRoomId != null" >
        #{p5rRoomId,jdbcType=VARCHAR},
      </if>
      <if test="p5rGmtCreate != null" >
        #{p5rGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="p5rGmtModified != null" >
        #{p5rGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="p5rDetail != null" >
        #{p5rDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz.po.push.Push58Room" >
    update push_58_room
    <set >
      <if test="p5rP5uId != null" >
        p5r_p5u_id = #{p5rP5uId,jdbcType=INTEGER},
      </if>
      <if test="p5rApartmentId != null" >
        p5r_apartment_id = #{p5rApartmentId,jdbcType=VARCHAR},
      </if>
      <if test="p5rLayoutId != null" >
        p5r_layout_id = #{p5rLayoutId,jdbcType=VARCHAR},
      </if>
      <if test="p5rRoomId != null" >
        p5r_room_id = #{p5rRoomId,jdbcType=VARCHAR},
      </if>
      <if test="p5rGmtCreate != null" >
        p5r_gmt_create = #{p5rGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="p5rGmtModified != null" >
        p5r_gmt_modified = #{p5rGmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="p5rDetail != null" >
        p5r_detail = #{p5rDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where p5r_id = #{p5rId,jdbcType=INTEGER}
  </update>
</mapper>